<a href="https://colab.research.google.com/github/Sohel4617/git.demo.app/blob/master/Copy_of_session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data" ,"Science", "Mentorship" ,"Program" ,sep = '-' ,end = '-started-')
print("By","CampusX" ,sep= '-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here

cel = float(input("enter the tempreture in cel"))

faren = cel * (9/2) +32
print(faren , 'F')

enter the tempreture in cel41
216.5 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
a = int(input("enter the first number"))
b = int(input("enter the second number"))

temp = a
a = b
b = temp
print(a)
print(b)

enter the first number14
enter the second number15
15
14

25### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
p1x = int(input("enter the point 1 x coordinate"))
p2x = int(input("enter the point 2 x coordinate"))
p1y = int(input("enter the point 1 y coordinate"))
p2y = int(input("enter the point 2 y coordinate"))

dist = ((p1x-p2x)**2 +(p1y - p2y)**2)**0.5
print(dist)

enter the point 1 x coordinate12
enter the point 2 x coordinate23
enter the point 1 y coordinate32
enter the point 2 y coordinate54
24.596747752497688

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here

amount = int(input("enter the amount"))
interest = int(input("enter the rate of interest"))
time = int(input("enter the time"))

s_i = (amount*interest*time)/100
print(s_i)

enter the amount15000
enter the rate of interest12
enter the time1
1800.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
heads = 4
legs = 12


dogs + chicken = heads
dogs =chicken -heads

4*dogs +2*Chicken = legs

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

n = int(input("enter the nth term of number"))

result = (n*(n+1)-(2*n+1))/6

print(result)

enter the nth term of number12
21.833333333333332

10
3### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
first_term  = int(input("enter the first_term"))
second_term = int(input("enter the second_term"))
nth_term  = int(input("enter the nth term"))

d = second_term - first_term

tn = first_term + (nth_term - 1)*d
print(tn)

enter the first_term14
enter the second_term25
enter the nth term15
168

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

n1 = int(input("enter the n1 numerator"))
d1 = int(input("enter the d1 denominator"))

n2 = int(input("enter the n2 numerator"))
d2 = int(input("enter the d2 denominator"))

numerator = n1*d2 + n2 * d1

denominator = d1 * d2


result = "{}/{}".format(numerator,denominator)
print(result)

enter the n1 numerator1
enter the d1 denominator2
enter the n2 numerator3
enter the d2 denominator4
10/8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math
h_t = float(input("enter the height of tank"))
l_t = float(input("enter the lenght of tank"))
b_t = float(input("enter the breadth of the tank"))

h_g = float(input("enter the height of the glass"))
r_g = float(input("enter the radius of the glass"))

v_t = h_t*l_t*b_t
v_g = 3.14 *r_g *r_g
result = v_t/v_g

print("total number of glasses fill ", math.floor(result))

enter the height of tank14
enter the lenght of tank15
enter the breadth of the tank32
enter the height of the glass56
enter the radius of the glass41
total number of glasses fill  1

In [ ]:
math.floor(8.465)

8