<a href="https://colab.research.google.com/github/Sohel4617/git.demo.app/blob/master/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [4]:
# Write your code here

print("data","Science","mentership","Program", end='-started-' ,sep='-')
print("By","Cumpusx",sep ='-')

data-Science-mentership-Program-started-By-Cumpusx

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [23]:
# Write your code here

celsius = int(input("enter the celsius value"))

fahrenheit = celsius * (9/5) + 32

print("fahrenheit",fahrenheit,'F')

enter the celsius value43
fahrenheit 109.4 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [24]:
# Write your code here

a = int(input("enter the first number"))
b = int(input("enter the second number"))

temp = a
a = b
b = temp

print(a)
print(b)

enter the first number14
enter the second number15
15
14

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [28]:
# Write your code here

x1 = int(input("enter the x1 co-ordinate"))
y1 = int(input("enter the y1 co-ordinate"))

x2 = int(input("enter the x2 co-ordinate"))
y2 = int(input("enter the y2 co-ordinate"))

result = ((x2 - x2)**2 + (y2-y1)**2)**0.5


print(round(result,2))

enter the x1 co-ordinate0
enter the y1 co-ordinate0
enter the x2 co-ordinate2
enter the y2 co-ordinate2
2.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [14]:
# Write your code here


value = int(input("enter the value"))

interest_rate = float(input("enter the rate"))

time = int(input("enter the time"))


simple_interest = (value*interest_rate*time)/100
print(simple_interest)

enter the value50000
enter the rate3.5
enter the time3
5250.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:

heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [16]:
# Write your code here

n = int(input("enter the number"))

result =(n*(n+1)*(2*n+1))/6
print(result)

enter the number3
14.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [31]:
first_term = int(input("enter the first term"))
second_term = int(input("enter the second term"))
n = int(input("enter the value of n"))

d  =second_term - first_term

tn = first_term + (n-1) *d
print(tn)

enter the first term3
enter the second term6
enter the value of n5
15

### Q9:- Given 2 fractions, find the sum

1.   List item
2.   List item

of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [34]:
# Write your code here

n1 = int(input("enter the numerator value"))
d1 = int(input("enter the denominator value"))

n2 = int(input("enter the numerator2 value"))
d2 = int(input("enter the denominator2 value"))


numerator = (d2*n1)+(n2*d1)

denominator = (d1*d2)

result = '{}/{}'.format(numerator,denominator)

print(result)

enter the numerator value3
enter the denominator value7
enter the numerator2 value2
enter the denominator2 value11
47/77


### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [36]:
# Write your code here
# Write your code here
import math

h_t = float(input('height'))
b_t = float(input('breadth'))
l_t = float(input('length'))

h_g = float(input('height of glass'))
r_g = float(input('radius of the glass'))

vol_tank = h_t*b_t*l_t
vol_glass = 3.14*r_g*r_g*h_g

print('no of glasses',math.floor(vol_tank/vol_glass))

height10
breadth19
length10
height of glass5
radius of the glass2
no of glasses 30

In [ ]:
2